.place__title {
  align-self: end;
  margin: 0;
  font-size: 72px;
  line-height: 106%;
  font-weight: 900;
  grid-area: title;
}
@media screen and (max-width: 960px) {
  .place__title {
    font-size: 57px;
    line-height: 110%;
}}
@media screen and (max-width: 768px) {
  .place__title{ 
    max-width: 330px;
    font-size: 42px;
    line-height: 109%;
}} 
@media screen and (max-width: 540px) {
  .place__title{ 
    font-size: 36px;
}}    
@media screen and (max-width: 320px) {
  .place__title{ 
    font-size: 32px;
    line-height: 109%;
    margin: 0 16px 0;
}}       