.place {
  margin: auto;
  margin-top: 80px;
  width: 77%;
  display: grid;
  grid-template-columns: 46% 54%;
  grid-template-rows: 23% 70%;
  gap: 7% 4%;
  font-family: inter;
  background-color: #2A2C2F;
  color: white;
}
@media screen and (max-width: 768px) {
.place {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
}}