.place {
  margin: auto;
  margin-top: 40px;
  width: 100%;
  min-height: 700px;
  display: grid;
  grid-template-columns: 46% 49%;
  grid-template-rows: 28% 72%;
  gap: 5% 48px;
  grid-template-areas:
  "title link"
  "image text";
  box-sizing: border-box;
  /*background-color: #2A2C2F;
  color: white;*/

}
@media screen and (max-width: 425px) {
.place {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 0;
  grid-template-areas:
  "title"
  "image"
  "text";
}}