.lead {
  width: 77%;
  max-height: 1005px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
  margin: auto;
  margin-top: 136px;
}
  @media screen and (max-width: 1280px) {
    .lead {
     width: 91%;
    }
}
@media screen and (max-width: 1024px) {
  .lead {
   width: 100%;
}
}