.cover__subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  margin: 0;
  max-width: 360px;
  text-align: center;
  color: white;
  z-index: 1;
}
@media screen and (max-width: 768px) {
    .cover__subtitle {
      font-size: 14px;
      line-height: 114%;
      max-width: 288px;
    }}