.place__website_link {
  font-size: 18px;
  line-height: 122%;
  color: #FFFFFF;
  padding-bottom: 10;
}
.place__website_link:hover {
  color: #FFFFFF;
  opacity: 0.8;  
}
@media screen and (max-width: 768px) {
    .place__website_link {
        display: none;
    }}