.lead__comment {
  font-size: 10px;
  line-height: 140%;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .lead__comment {
    margin-left: 24px;
  }} 
@media screen and (max-width: 320px) {
  .lead__comment {
    margin-left: 16px;
}}   