.header {
    width: calc(100% - 48px*2);
    margin: 0 auto;
    min-height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 24px*2);
}}