.footer__link {
 color: white;
 text-decoration: none; 
 font-size: 16px;
 line-height: 112%;
 margin-left: 0;
 margin-right: 18px;
 list-style-type: none;
}
.footer__link:hover {
  color: #FFFFFF;
  opacity: 0.8;  
}
@media screen and (max-width: 425px) {
  .footer__link {
    font-size: 24px;
    line-height: 100%;
    margin-top: 32px;
    justify-content: flex-start;
}}
