.footer__link {
 margin: 0 18px 0 0;
 }
.footer__link:hover {
  color: #FFFFFF;
  opacity: 0.8;  
}
@media screen and (max-width: 540px) {
  .footer__link {
   margin: 0 0 32px 0;
   }
  .footer__link:last-child {
    margin: 0;
  }}
