.lead__title {
  max-width: 720px;
  font-size: 96px;
  line-height: 104%;
  font-weight: 900;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 70px;
  }}
@media screen and (max-width: 540px) {
  .lead__title {
    font-size: 52px;
}}
@media screen and (max-width: 425px) {
  .lead__title {
    font-size: 45px;
}}
@media screen and (max-width: 360px) {
  .lead__title {
    font-size: 41px;
}}
@media screen and (max-width: 320px) {
  .lead__title {
    min-width: 288px;
    font-size: 40px;
}}
  

