.footer__copyright {
  font-size: 14px;
  line-height: 114%;
  margin-left: 15%;
  margin-bottom: 24px;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .footer__copyright {
    margin-left: 0;
    line-height: 100%;
    }}