  .intro {
    max-width: 690px;
    max-height: 800px;
    margin-left: 148px;
    margin-top: 114px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
  .intro {
    margin: auto;
    margin-left: 48px;
    margin-top: 114px;
  }} 
@media screen and (max-width: 768px) {
  .intro {
    max-width: 90%; 
    margin: auto;
    margin-top:20%;
}}