.footer {
  width: calc(100% - 48px * 2);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 16px;
  line-height: 112%;
}
@media screen and (max-width: 768px) {
  .footer {
    width: calc(100% - 24px * 2);
}} 
@media screen and (max-width: 720px) {
  .footer {
    font-size: 14px;
}}
@media screen and (max-width: 620px) {
  .footer {
    font-size: 12px;
}}
@media screen and (max-width: 540px) {
  .footer {
    font-size: 24px;
    flex-direction: column;
}}