.place__image {
  max-width: 100%;
  min-height: 460px;
  max-height: 560px;
  box-sizing: border-box;;
}
  @media screen and (max-width: 980px) {
    .place__image {
      min-height: 400px;;
    }} 
@media screen and (max-width: 768px) {
  .place__image {
  min-height: 340px;
  }}
@media screen and (max-width: 425px) {
  .place__image {
    max-width: 288px;
    min-height: 216px;
  }}        