.place__website {
  grid-area: link;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: end;
}
@media screen and (max-width: 709px) {
  .place__website {
    display: none;
}}