  .intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 107%;
    margin-top: 0;
    margin-bottom: 40px;
}
@media screen and (max-width: 720px) {
  .intro__title {
    font-size: 70px;
    line-height: 107%;
}}
@media screen and (max-width: 540px) {
  .intro__title {
    font-size: 52px;
    line-height: 109%;
}}
@media screen and (max-width: 414px) {
  .intro__title {
    font-size: 44px;
    line-height: 109%;
}}
@media screen and (max-width: 360px) {
  .intro__title {
    font-size: 41px;
    line-height: 109%;
}}
@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 109%;
}}
